* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
}

.container {
    height: 100%;
    max-width: 1200px;
    background-color: green;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    background-color: red;
}

.header-right {
    height: 100%;
    width: 70%;
    float: right;
    background-color: blue;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dropdown-menu {
    display: none;
}
